# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Project specific
known_faces/
attendance.csv
*.jpg
*.jpeg
*.png
*.gif

# Dependencies
node_modules/

# System files
.DS_Store
Thumbs.db 
